/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* @group Main */

body {
  margin: 0px 0px 20px 0px;
  text-align: left;
  font: normal 14px Arial, sans-serif;
  line-height: 1.5em;
  color: #111;
  background-color: #fff;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin: 8px 0px 14px 0px;
}

h1 { font-size: 2.2em; }

a {
  color: #2266bb;
}

a:hover {
  color: #ff0000;
}

p {
  margin: 8px 0px;
}

strong { font-weight: bold; }

small {
   font-size: 0.8em;
}

em { font-style: italic; }

a.home {
  text-decoration: none;
}

/* @end */

/* @group Blocks */

.post {
	margin-left: 2em;
	margin-bottom: 1.4em;
}

.post a {
  font-weight: bold;
}

body.inner .entry {
  line-height: 1.6em;
}

#header #menu {
  position: absolute;
  top: 40px;
  right: 20px;
}

#header h1 {
  color: #e83200;
  font-size: 32px;
  letter-spacing: -1px;
  position: absolute;
  top: 1px;
  left:  18px;
}


#page {
  position: relative;
  margin: 0px 20px;
}

BLOCKQUOTE {
  background-color: #def;
  padding: 10px;
  margin: 2em 1em;
  position: relative;  
}

CODE {
	font-family: "Liberation Mono", Monaco, "Courier New", monospace;
	font-size: 13px;
}

BODY.inner .date {
  font-size: 14px;
  color: #999;
}

.leftright {
	height: 24px;
}

.leftright .left {
	float: left;
}

.leftright .right {
	float: right;
}

.leftright A {
  color: #888;
  font-family: verdana;
  font-size: 12px;
}

blockquote span.a, blockquote span.b { 
  font-family: helvetica, arial; font-size: 50px; color: #8ac;
}

blockquote span.a {position:absolute;top:0px;left:-10px; }
blockquote span.b {position:absolute;bottom:-20px;right:0px; height: 20px;}

blockquote.yellow { background-color: #fe7; }
blockquote.yellow span.a, blockquote.yellow span.b { color: #dc5; }

blockquote.green { background-color: #df7; }
blockquote.green span.a, blockquote.green span.b { color: #cd5; }

blockquote.comment { background-color: #f0f0f0; }
blockquote.comment span.a, blockquote.comment span.b { color: #ddd; }

blockquote.usercomment { background-color: #def; }
blockquote.usercomment span.a, blockquote.usercomment span.b { color: #8ac; }

.formatting-help {
	font-size: 13px; 
	font-family: verdana; 
	line-height: 15px; 
	letter-spacing: 0px;
	background-color: #ffc; 
	padding: 4px 16px; 
	border-left: 3px solid #999; 
}

blockquote cite {
  display: block;
  text-align: right;
}

/* @end */

/* @group Content */

#content .metadata {
  color: #999;
  margin: 0px; margin-top: 0px;
  border-top: 0px solid #ccc;
  padding-bottom: 0px;
  line-height: 17px;  
}

#content .item-changes {
  margin: -1.4em 0 1.4em 2em;
  color: #999;
}

#content .item-changes P {
  font-size: 11px;
  margin: 0;
  padding: 0;
}

#content .metadata, BLOCKQUOTE CITE, #content .item-changes P {
  font-size: 11px;
  font-family: verdana, arial, sans-serif; 
}

.comments_link {
	color: #666 !important; 
}

#comments {
  /* border-top: 4px solid #ccc; */
  margin-top: 18px;
  padding-left: 2em;
}

#comments H3 {
  color: #44689b;
  margin-top: 0.8em;
}

#comments A:hover {
  color: #ff0000;
}

#content .metadata A, BLOCKQUOTE CITE A {
  color: #888;
}

/* @end */


/* @group Fixes */
.floatcontainer:after{
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;	
    clear: both; 
    visibility:hidden;
    }
	
.floatcontainer { display: inline-block; clear: both;}
.float { clear: both; }

* html #content {
  height: 1%;
}

/* @end */

/* @group Misc */

P.message {
  background-color: #eee;
  padding: 8px;
  border: 1px solid #999;
  margin-bottom: 14px;
}


#comments TEXTAREA {
width: 500px; height: 220px;
}

#captcha_display SUP {
   display: none;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#captcha_display {
  background-color: #3a6fa5;
  color: #fff;
  font-size: 24px;
  padding: 12px;
  width: 280px;
  height: 24px;
  border: 1px solid #000;
  text-align: center;
  letter-spacing: 5px;
}

H1 A { color: #e83200; }

h1 span	{font-size:70%; color:#333; margin-left:20px;}
.title {
	font-weight: bold;
}

.entry { 
	margin-right : 60px;padding-bottom:0.5em;}
	
	
#content .post .metadata {
	padding-bottom:1.4em;
}
.post {
	border-bottom: 1px solid #ccc;
}
.description {
	font-style: italic;
	font-weight: normal;
	font-size: 90%;
}

.hint {
	font-style: italic;
	font-weight: normal;
	font-size: 90%;
	color: #666;
}

.admin-actions {
	position: absolute;
	top: 12px;
	right: 12px;
}

/* @end */

/* @group Star */

.star, .star a {
	text-decoration: none !important;
	color: #9F392C !important;
}
      
.star a.starred {
	color: #9F392C !important;
	text-decoration: none !important;
}
/* @end */

/* ADDED BY KALE */

.mir { letter-spacing : -1000em; }
/* Just for Opera, but hide from MacIE */
/*\*/html>body .mir { letter-spacing : normal; text-indent : -999em; overflow : hidden;}
/* End of hack */ 

#content {
  float: left;
  width: 70%;
  margin: 10px;
}

#sidebar {
  float: left;
  width: 25%;
  margin: 10px;
  font-size: 0.9em;
  line-height: 1.5em;
  padding-left: 25px;
}

.tags {
	display: inline;
}

.tags a:link, .tags a:visited, .tags a:active {
	padding: 0px 11px 1px 3px;
	text-decoration: none;
	background: #eee url(../images/tag-mask.gif) right no-repeat;
	color: #888 !important;
	font-weight: normal;
}

#header {
  margin-top: 0px;
  height: 70px;
  background: url(../images/header-grad.gif) repeat-x;
  border-bottom: 1px solid #f9369a;
}

h1.mir {
	width: 450px;
	height: 30px;
	background: url(../images/logo.png) no-repeat;
	margin-top: 20px;
  color: #000;
}

h1.mir a {
  display: block;
  width: 450px;
  height: 30px;
}

.highlight {
  font-weight: bold;
  color: #f9369a;
}

#page {
	border-top: 8px solid #3a6fa5;
	margin: 0;
	padding: 10px 25px;
}

.date {
	margin: 20px 0;
	padding: 4px;
	font-weight: bold;
	font-size: 16px;
	background: #f9369a url(../images/date-grad.png);
	color: #fff;
	border: 1px solid #c70067;
}

.post {
	margin-top: 20px;
}

.post h2, .post p {
  display: inline;
  font-size: 1em;
}

.post h2 a {
  text-decoration: none;
}

.title {
	background-color: #eee;
	padding: 3px;
}

.star {
	color: #3a6fa5 !important;
}

.postpage h2 {
  display:block;
  font-size: 1.6em;
  margin-bottom: 0;
  background: #fff;
}
